.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  min-height: fit-content;
  height: 6rem;
  margin: 1rem 0px;
  border: #eef2ff;
  background-color: #eef2ff;
  color: #393f53;
  border-radius: 8px;
  padding: 0.5em;
}

.card:hover {
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: 800;
  margin: 0;
}

.date {
  color: #99abed;
  margin: 0 0 0.5em 0;
}

.days {
  font-size: 2rem;
  margin: 0;
}
