.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin: 0.5rem 0px 0.5rem 0px;
    border: #EEF2FF;
    background-color: #EEF2FF;
    color: #393F53;
    border-radius: 8px;
}

.icon {
    margin-left: 10px;
    margin-right: 20px;
}

.title {
    display: flex;
    flex: 1;
    margin-right: 20px;
}